exportPattern("^[[:alpha:]]+")
import("fPortfolio","tcltk","lattice")
importFrom("grDevices", "dev.new","colorRampPalette")
importFrom("graphics", "abline", "boxplot", "grid", "legend", "lines",
             "par", "plot.new")
importFrom("stats", "arima","as.formula", "as.ts", "Box.test", "cor", "density","embed","is.ts","lm", "na.omit",
             "plot.ts", "pnorm", "ppoints", "predict", "qnorm","rnorm","runif", "sd","terms",
             "time", "ts.plot", "tsdiag", "var")
importFrom("stats", "coef", "confint", "quantile", "sigma")
importFrom("utils", "head","write.csv", "read.csv", "tail")
importFrom("boot", "boot")
importFrom("methods", "show")

export("iClick.ARIMA","iClick.GARCH","iClick.VisOneReturns","iClick.VisAssetPrice","iClick.lm","VIF_no")
export("boxPlotX","cumulatedPlotX","drawdownPlotX","drawupPlotX","drawups","qqnormPlotX","seriesPlotX")
export("calendar.heat","cutAndStack")
